public/models/aerometric-reference-drone-01/LICENSE -text
release/aerometric-0.1/models/aerometric-reference-drone-01/LICENSE -text
public/models/quadrotor-v3/LICENSE -text
release/aerometric-0.1/models/quadrotor-v3/LICENSE -text
